  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
  }
  
  .loginForm {
    width: 420px;
    border: 1px solid black;
    padding-bottom: 20px;
  }
  
  .loginContent {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .loginTitle {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }

  .form {
    padding: 10px;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
