  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .loginForm {
    width: 420px;
    border: 1px;
    padding-bottom: 20px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);

  }
  
  .loginContent {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .loginTitle {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }

  .form {
    padding: 10px;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
