  .container {
    display: flex;
    height: 40%;
    width: 30%;
    justify-content: center;
    margin-top: 0;
    margin-left: 30%
  }

  
  .RegisterForm {
    width: 420px;
    border: 1px solid black;
    padding-bottom: 10px;
  }
  
  .RegisterContent {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .RegisterTitle {
    text-align: center;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  
  .registerAnimation{
    animation: signup 700ms ease-in-out;
  }